*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(244, 233, 27);
    display: grid;
    border-bottom: 1px solid gray;
    height: 60px;
    grid-template: "logo input-busqueda hamburguer-menu carrito" /
                      60px   1fr          40px            40px; 
}
.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 80;
}
.input-busqueda i{
    font-size: 18px;
    margin-left: 10px;
}
.input-busqueda input{
    border: none;
    margin-left: 10px;
    font-size:16px;
}
.input-busqueda{
    grid-area: input-busqueda;
    background-color: white;
    margin-top: 10px;
    height: 40px;
    display: flex; justify-content: center; align-items: center;
    
}
.hamburguer-menu{
    grid-area: hamburguer-menu;
    display: flex; justify-content: center; align-items: center;
 }
.carrito{
    grid-area: carrito;
    display: flex; justify-content: center; align-items: center;
}
i{
    font-size: 25px; 
}
.main-content{
    display: grid;
}
.box-producto{
    display: grid;
    height: 110px;
    padding-top: 5%;
    border-top: 1px solid grey;
    grid-template: "box-img box-info"/
                       3fr       4fr ;
}
.box-img{
    grid-area: box-img;
    display: block;
    padding: 5%;
}
.box-info{
    grid-area: box-info;
    padding: 8px;
   
    background-color: rgb(255, 255, 255);
}
.img-auto{
    width: 100%;
}
.marca{
    display: block;
    font-size: 18px;
}

.precio{
    font-weight: 600;
    display: block;
    font-size: 23px;
}
.icon-heart{
    color: rgb(67, 92, 183);
    background-color: rgb(179, 190, 190);
    font-size: 15px;
    padding: 6px;
    position: relative;
    top: -100px;
    left:120px;
    border-radius: 50%;

}
