/*estilos utilizando elementos html*/
body{
    background-color: rgb(91, 209, 68)
}

h1 {
    /*propiedades*/
    text-align: center;
    color: rgb(12, 9, 11);
}

h2{
    color: rgb(3, 2, 5);

}
/*selector de clase*/
